$button-pressed-background:#0fc7ff;
.button-group{
  .label{
    margin-right: 0.5rem;
  }
  .button{
    border: 1px solid #aeb6c6;
    padding: 0.5rem 0.75rem;
    margin: 0;
    color: black;
    background-color: white;
    &.button-yes {
      border-radius: 5px 0 0 5px;
    }
    &.button-no {
      border-radius: 0 5px 5px 0;
    }
    &.button-pressed{
      background-color: $button-pressed-background;
      border-color: $button-pressed-background;
      box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .2);
    }
  }
}

.button-group{
  .radio{
    position: relative;
    display: inline-block;
    input{
      opacity: 0;
      position: absolute;
      top: 25%;
      left: 25%;
      &:focus+label{
        outline: solid 1px #272c3f;
      }
      &:checked+label{
        @extend .button-pressed;
      }
    }
  }
}
