<main>
  <h1>Form:</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-yes-no-button-group
      [appDisableControl]="false"
      formControlName="yesNoAnswer"
      label="Are you good enough in Angular?"
    >
    </app-yes-no-button-group>
    <button>Submit</button>
  </form>
</main>
