/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #272c3f;
}

:focus{
  outline: 2px solid orange;
}
